In [1]:
from db_utils import get_engine, apply_schema

In [2]:
engine = get_engine()

In [3]:
engine = apply_schema(engine)

traffic_db already exists
Describe table traffic_violations
Name                           Type                           Nullable
seq_id                         VARCHAR(50)                    False
violation_type                 VARCHAR(50)                    False
stop_datetime                  DATETIME                       True
agency                         VARCHAR(50)                    True
subagency                      VARCHAR(100)                   True
description                    TEXT                           True
latitude                       DECIMAL(9, 6)                  True
longitude                      DECIMAL(9, 6)                  True
accident                       TINYINT                        True
personal_injury                TINYINT                        True
fatal                          TINYINT                        True
vehicle_type                   VARCHAR(50)                    True
race                           VARCHAR(50)                    True
gender                         VARCHAR(10)                    True
returning server engine bound to traffic_db

In [1]:
!uv run ./categorical_metadata_extractor.py

11it [00:59,  5.44s/it]
============================================================
Column: SeqID
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 1178080
Duplicate values: 892035
Possible bool  : False
Top values:
  33c49de3-9e36-4f36-9326-b59a95e86fe8 → 59
  75f55258-401e-4a3d-87e6-ff9394acb877 → 43
  6c64b741-3b7e-4658-9fed-fd5c3af27250 → 43
  28c5bfc1-5670-4751-be16-e1d83cda20f0 → 42
  c474e98e-128c-40e0-a487-d988cc67f0bd → 40
  07b51742-be16-49a6-bd7b-f4e6b8965f2b → 40
  859768f4-bde0-427b-a60f-07b1e2aaadc4 → 40
  89d195ed-c995-4dda-b38f-cd784b782321 → 38
  42ee969e-cc65-4557-bc1a-cefa6b35cba8 → 38
  8fe624e5-2bef-4cf9-963b-58fbb1e206c2 → 38
  ca00e61e-fc9a-4e9c-85a0-718cc56f8b62 → 38
  47f70bc3-be2f-4d08-abc1-6f857fb47671 → 37
  e8b8ff98-63f0-4e60-8fda-d1b8c69672da → 36
  d8c32585-3c35-4862-987b-aa65d36a53db → 36
  09829461-7b79-4eb8-87f8-0c2bc3d1fe27 → 35
  1f0803c8-b026-4f42-a04b-a3c43404e26f → 34
  d702af91-91a8-4402-be24-1bd73e43454e → 33
  627dcae7-89cb-4f77-a9a8-2e70904bc104 → 33
  7d670eaa-2148-4f25-b236-f81a51501894 → 33
  5b92200b-57e1-4483-9e03-81af3fb39492 → 33

============================================================
Column: Date Of Stop
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 5086
Duplicate values: 2065029
Possible bool  : False
Top values:
  03/17/2015 → 1281
  04/10/2018 → 1277
  05/20/2014 → 1222
  03/05/2019 → 1186
  04/18/2018 → 1185
  11/24/2015 → 1169
  01/25/2017 → 1167
  12/08/2015 → 1150
  03/08/2016 → 1141
  02/11/2015 → 1135
  05/06/2014 → 1128
  03/07/2016 → 1127
  02/19/2020 → 1124
  02/21/2017 → 1110
  10/20/2015 → 1101
  03/09/2016 → 1099
  01/20/2015 → 1098
  03/12/2019 → 1089
  04/09/2019 → 1087
  05/14/2014 → 1087

============================================================
Column: Time Of Stop
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 1440
Duplicate values: 2068675
Possible bool  : False
Top values:
  23:30:00 → 3000
  22:50:00 → 2913
  22:42:00 → 2886
  22:55:00 → 2876
  23:00:00 → 2872
  22:39:00 → 2854
  22:53:00 → 2844
  22:57:00 → 2841
  23:20:00 → 2839
  22:29:00 → 2812
  22:31:00 → 2795
  23:07:00 → 2792
  22:44:00 → 2780
  23:10:00 → 2767
  23:05:00 → 2766
  22:40:00 → 2756
  22:33:00 → 2747
  22:47:00 → 2742
  22:48:00 → 2740
  22:30:00 → 2731

============================================================
Column: Agency
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 1
Duplicate values: 2070114
Possible bool  : False
Top values:
  MCP → 2070115

============================================================
Column: SubAgency
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 9
Duplicate values: 2070106
Possible bool  : False
Top values:
  4th District, Wheaton → 449193
  3rd District, Silver Spring → 373654
  2nd District, Bethesda → 325456
  6th District, Gaithersburg / Montgomery Village → 261482
  5th District, Germantown → 245758
  1st District, Rockville → 240901
  Headquarters and Special Operations → 173661
  W15 → 7
  S15 → 3

============================================================
Column: Description
Total rows     : 2070115
Null count     : 10 (0.0%)
Unique values  : 17806
Duplicate values: 2052309
Possible bool  : False
Top values:
  DRIVER FAILURE TO OBEY PROPERLY PLACED TRAFFIC CONTROL DEVICE INSTRUCTIONS → 171401
  FAILURE TO DISPLAY REGISTRATION CARD UPON DEMAND BY POLICE OFFICER → 91010
  DRIVING VEHICLE ON HIGHWAY WITH SUSPENDED REGISTRATION → 60772
  DISPLAYING EXPIRED REGISTRATION PLATE ISSUED BY ANY STATE → 58498
  FAILURE OF INDIVIDUAL DRIVING ON HIGHWAY TO DISPLAY LICENSE TO UNIFORMED POLICE ON DEMAND → 55569
  DRIVER USING HANDS TO USE HANDHELD TELEPHONE WHILEMOTOR VEHICLE IS IN MOTION → 49531
  DRIVER FAILURE TO STOP AT STOP SIGN LINE → 45013
  EXCEEDING THE POSTED SPEED LIMIT OF 40 MPH → 44622
  EXCEEDING THE POSTED SPEED LIMIT OF 35 MPH → 41582
  DRIVING VEHICLE ON HIGHWAY WITHOUT CURRENT REGISTRATION PLATES AND VALIDATION TABS → 38012
  PERSON DRIVING MOTOR VEHICLE ON HIGHWAY OR PUBLIC USE PROPERTY ON SUSPENDED LICENSE AND PRIVILEGE → 36831
  EXCEEDING THE POSTED SPEED LIMIT OF 30 MPH → 33926
  NEGLIGENT DRIVING VEHICLE IN CARELESS AND IMPRUDENT MANNER ENDANGERING PROPERTY, LIFE AND PERSON → 29929
  DRIVER CHANGING LANES WHEN UNSAFE → 27815
  FAILURE OF VEH. ON HWY. TO DISPLAY LIGHTED LAMPS, ILLUMINATING DEVICE IN UNFAVORABLE VISIBILITY COND → 27147
  DRIVING MOTOR VEHICLE ON HIGHWAY WITHOUT REQUIRED LICENSE AND AUTHORIZATION → 26826
  STOP LIGHTS (*) → 26632
  DRIVING VEHICLE WHILE UNDER THE INFLUENCE OF ALCOHOL → 25484
  DRIVER FAILURE TO STOP AT STEADY CIRCULAR RED SIGNAL → 24246
  FAILURE TO ATTACH VEHICLE REGISTRATION PLATES AT FRONT AND REAR → 23066

============================================================
Column: Location
Total rows     : 2070115
Null count     : 4 (0.0%)
Unique values  : 269352
Duplicate values: 1800763
Possible bool  : False
Top values:
  MONTGOMERY VILLAGE AVE @ RUSSELL AVE → 2451
  WAYNE AVE @ DALE DR → 2341
  WOODFIELD RD @ EMORY GROVE RD → 2207
  IS 370 @ IS 270 → 1982
  RT 28 @ BLACKBERRY DR → 1966
  W/B IS 370 @ IS 270 → 1884
  RIDGE RD @ OBSERVATION DR → 1880
  GEORGIA AVE @ COLESVILLE RD → 1713
  COLESVILLE RD @ GEORGIA AVE → 1710
  CONNECTICUT AVE @ DEAN RD → 1689
  CONNECTICUT AVE / DEAN RD → 1578
  10901 WESTLAKE DRIVE → 1509
  RANDOLPH / COLIE → 1496
  GEORGIA AVE @ HEWITT AVE → 1473
  WAYNE AVE / DALE DR → 1372
  RIVER RD AND ROYAL DOMINION → 1357
  RIVER RD @ ROYAL DOMINION DR → 1344
  FREDERICK RD/COLLEGE PKWY → 1338
  CLOPPER RD E/B @ ORCHARD HILLS DR → 1323
  GEORGIA AVE/COLESVILLE RD → 1228

============================================================
Column: Latitude
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 391517
Duplicate values: 1678598
Possible bool  : False
Top values:
  0.0 → 156093
  39.045425 → 626
  39.0462766666667 → 435
  39.109775 → 332
  39.0056183333333 → 271
  39.11061 → 265
  39.057555 → 246
  39.0584016666667 → 198
  39.058435 → 196
  39.0584083333333 → 190
  39.05844 → 186
  39.0583766666667 → 184
  39.05841 → 183
  39.0584066666667 → 178
  39.0584233333333 → 173
  39.058425 → 172
  39.05842 → 170
  39.0584 → 169
  39.0584333333333 → 168
  39.0584133333333 → 165

============================================================
Column: Longitude
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 436122
Duplicate values: 1633993
Possible bool  : False
Top values:
  0.0 → 156092
  -76.9907366666667 → 571
  -76.990695 → 451
  -76.91044 → 327
  -77.0123283333333 → 273
  -76.9897983333333 → 272
  -76.9678266666667 → 216
  -77.0480583333333 → 181
  -77.0480666666667 → 180
  -77.048055 → 170
  -77.0480916666667 → 165
  -77.036485 → 157
  -77.0479833333333 → 153
  -77.0480033333333 → 146
  -77.0481116666667 → 141
  -77.0480683333333 → 139
  -77.1609483333333 → 138
  -77.046385 → 138
  -77.0271333333333 → 137
  -77.0480183333333 → 137

============================================================
Column: Accident
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2013432
  Yes → 56683

============================================================
Column: Belts
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2005748
  Yes → 64367

============================================================
Column: Personal Injury
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2044929
  Yes → 25186

============================================================
Column: Property Damage
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2024732
  Yes → 45383

============================================================
Column: Fatal
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2069547
  Yes → 568

============================================================
Column: Commercial License
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2012237
  Yes → 57878

============================================================
Column: HAZMAT
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2069962
  Yes → 153

============================================================
Column: Commercial Vehicle
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2063489
  Yes → 6626

============================================================
Column: Alcohol
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2067493
  Yes → 2622

============================================================
Column: Work Zone
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 2069667
  Yes → 448

============================================================
Column: Search Conducted
Total rows     : 2070115
Null count     : 786125 (37.97%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  No → 1194449
  Yes → 89541

============================================================
Column: Search Disposition
Total rows     : 2070115
Null count     : 1980574 (95.67%)
Unique values  : 7
Duplicate values: 2070108
Possible bool  : False
Top values:
  Nothing → 38864
  Contraband Only → 22855
  Property Only → 14810
  Contraband and Property → 12993
  DUI → 12
  marijuana → 4
  nothing → 3

============================================================
Column: Search Outcome
Total rows     : 2070115
Null count     : 805416 (38.91%)
Unique values  : 5
Duplicate values: 2070110
Possible bool  : False
Top values:
  Warning → 638761
  Citation → 526438
  Arrest → 62834
  SERO → 36663
  Recovered Evidence → 3

============================================================
Column: Search Reason
Total rows     : 2070115
Null count     : 1980574 (95.67%)
Unique values  : 10
Duplicate values: 2070105
Possible bool  : False
Top values:
  Incident to Arrest → 51802
  Probable Cause → 21676
  Consensual → 12416
  K-9 → 1974
  Other → 1119
  Exigent Circumstances → 542
  Probable Cause for CDS → 5
  Arrest/Tow → 3
  plain view marijuana → 3
  DUI → 1

============================================================
Column: Search Reason For Stop
Total rows     : 2070115
Null count     : 786428 (37.99%)
Unique values  : 842
Duplicate values: 2069273
Possible bool  : False
Top values:
  21-201(a1) → 154351
  21-801.1 → 98263
  13-411(f) → 68676
  21-707(a) → 60260
  13-401(h) → 52549
  21-1124.2(d2) → 48652
  64* → 32457
  22-201.1 → 32128
  21-202(h1) → 27472
  13-411(a) → 25582
  21-204(b) → 23865
  21-801(a) → 23379
  21-309(b) → 23033
  21-801(b) → 22788
  13-411(d) → 22770
  22-226(a) → 22511
  16-303(c) → 22037
  22-204(f) → 21625
  22-412.3(b) → 19299
  21-301(a) → 17779

============================================================
Column: Search Type
Total rows     : 2070115
Null count     : 1980582 (95.67%)
Unique values  : 6
Duplicate values: 2070109
Possible bool  : False
Top values:
  Both → 67096
  Property → 11968
  Person → 10459
  car → 4
  Search Incidental → 3
  PC → 3

============================================================
Column: Search Arrest Reason
Total rows     : 2070115
Null count     : 2008149 (97.01%)
Unique values  : 11
Duplicate values: 2070104
Possible bool  : False
Top values:
  Stop → 40071
  Search → 11725
  Other → 6929
  Warrant → 3181
  Traffic → 28
  DUI → 13
  alcohol → 6
  Marihuana → 5
  Criminal → 3
  driving → 3
  DWI → 2

============================================================
Column: State
Total rows     : 2070115
Null count     : 59 (0.0%)
Unique values  : 72
Duplicate values: 2070043
Possible bool  : False
Top values:
  MD → 1797987
  VA → 98278
  DC → 50967
  XX → 16459
  PA → 14300
  TX → 10113
  FL → 10032
  WV → 8289
  NC → 7527
  NY → 6528
  NJ → 5874
  GA → 4451
  DE → 3839
  CA → 3514
  OH → 3198
  MA → 2690
  IL → 2183
  SC → 2124
  TN → 1942
  MI → 1639

============================================================
Column: VehicleType
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 36
Duplicate values: 2070079
Possible bool  : False
Top values:
  02 - Automobile → 1835701
  05 - Light Duty Truck → 108285
  28 - Other → 35070
  03 - Station Wagon → 28652
  01 - Motorcycle → 19086
  06 - Heavy Duty Truck → 16453
  29 - Unknown → 11183
  08 - Recreational Vehicle → 5504
  19 - Moped → 2316
  25 - Utility Trailer → 1967
  07 - Truck/Road Tractor → 1817
  20 - Commercial Rig → 1144
  04 - Limousine → 965
  10 - Transit Bus → 686
  12 - School Bus → 432
  27 - Farm Equipment → 135
  29 - Other → 116
  09 - Farm Vehicle → 108
  26 - Boat Trailer → 102
  21 - Tandem Trailer → 92

============================================================
Column: Year
Total rows     : 2070115
Null count     : 10645 (0.51%)
Unique values  : 429
Duplicate values: 2069686
Possible bool  : False
Top values:
  2007.0 → 111512
  2013.0 → 110317
  2006.0 → 110226
  2012.0 → 108236
  2005.0 → 105932
  2008.0 → 102706
  2004.0 → 102111
  2011.0 → 98965
  2014.0 → 97711
  2015.0 → 96442
  2003.0 → 94820
  2010.0 → 93918
  2002.0 → 84323
  2016.0 → 79898
  2009.0 → 78541
  2001.0 → 70910
  2000.0 → 69818
  2017.0 → 62699
  1999.0 → 52447
  2018.0 → 46341

============================================================
Column: Make
Total rows     : 2070115
Null count     : 74 (0.0%)
Unique values  : 4935
Duplicate values: 2065180
Possible bool  : False
Top values:
  TOYOTA → 240535
  HONDA → 227032
  FORD → 187749
  TOYT → 116779
  NISSAN → 109466
  HOND → 80661
  BMW → 59172
  CHEV → 58869
  DODGE → 52505
  JEEP → 48754
  CHEVY → 46002
  ACURA → 45398
  NISS → 44272
  HYUNDAI → 43765
  CHEVROLET → 43606
  LEXUS → 34181
  KIA → 32481
  MERZ → 30857
  MAZDA → 29542
  HYUN → 29058

============================================================
Column: Model
Total rows     : 2070115
Null count     : 223 (0.01%)
Unique values  : 23386
Duplicate values: 2046729
Possible bool  : False
Top values:
  4S → 199699
  TK → 123951
  CIVIC → 76454
  ACCORD → 75332
  CAMRY → 71452
  COROLLA → 62470
  ALTIMA → 39331
  4D → 32432
  SUV → 30468
  2S → 28828
  4DR → 25735
  VN → 22266
  CRV → 21993
  RAV4 → 21409
  SD → 21058
  VAN → 20588
  SENTRA → 17833
  SONATA → 17638
  UT → 17064
  ELANTRA → 16687

============================================================
Column: Color
Total rows     : 2070115
Null count     : 22300 (1.08%)
Unique values  : 26
Duplicate values: 2070089
Possible bool  : False
Top values:
  BLACK → 437199
  SILVER → 365823
  WHITE → 341974
  GRAY → 253099
  RED → 157269
  BLUE → 150675
  GREEN → 62656
  GOLD → 56076
  BLUE, DARK → 44068
  TAN → 35640
  MAROON → 34137
  BLUE, LIGHT → 24745
  BEIGE → 20291
  GREEN, DK → 18707
  GREEN, LGT → 10183
  BROWN → 8753
  ORANGE → 7341
  YELLOW → 7246
  BRONZE → 4504
  PURPLE → 3762

============================================================
Column: Violation Type
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 4
Duplicate values: 2070111
Possible bool  : False
Top values:
  Warning → 1090515
  Citation → 886920
  ESERO → 91778
  SERO → 902

============================================================
Column: Charge
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 1199
Duplicate values: 2068916
Possible bool  : False
Top values:
  21-801.1 → 286707
  21-201(a1) → 171401
  13-409(b) → 91441
  21-707(a) → 65639
  13-401(h) → 61511
  13-411(f) → 59701
  16-112(c) → 55555
  21-1124.2(d2) → 49968
  21-801(a) → 38450
  13-411(d) → 38428
  16-303(c) → 37857
  16-303(h) → 35125
  64* → 34533
  16-101(a) → 31155
  21-901.1(b) → 30298
  22-412.3(b) → 30089
  21-309(b) → 29859
  13-411(a) → 27794
  22-201.1 → 27279
  21-202(h1) → 26602

============================================================
Column: Article
Total rows     : 2070115
Null count     : 92680 (4.48%)
Unique values  : 6
Duplicate values: 2070109
Possible bool  : False
Top values:
  Transportation Article → 1957419
  Maryland Rules → 19921
  BR → 61
  TG → 22
  1A → 9
  00 → 3

============================================================
Column: Contributed To Accident
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 2
Duplicate values: 2070113
Possible bool  : True
Top values:
  False → 2013432
  True → 56683

============================================================
Column: Race
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 6
Duplicate values: 2070109
Possible bool  : False
Top values:
  WHITE → 691032
  BLACK → 656293
  HISPANIC → 464598
  OTHER → 137936
  ASIAN → 116732
  NATIVE AMERICAN → 3524

============================================================
Column: Gender
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 3
Duplicate values: 2070112
Possible bool  : False
Top values:
  M → 1393963
  F → 672626
  U → 3526

============================================================
Column: Driver City
Total rows     : 2070115
Null count     : 519 (0.03%)
Unique values  : 9374
Duplicate values: 2060741
Possible bool  : False
Top values:
  SILVER SPRING → 503076
  GAITHERSBURG → 221266
  GERMANTOWN → 179317
  ROCKVILLE → 167774
  WASHINGTON → 65219
  MONTGOMERY VILLAGE → 58722
  BETHESDA → 56527
  HYATTSVILLE → 46559
  POTOMAC → 39997
  OLNEY → 33158
  CLARKSBURG → 29855
  FREDERICK → 29505
  LAUREL → 29002
  NORTH POTOMAC → 22143
  DAMASCUS → 21435
  KENSINGTON → 21226
  TAKOMA PARK → 21198
  BURTONSVILLE → 18760
  BELTSVILLE → 17956
  CHEVY CHASE → 17144

============================================================
Column: Driver State
Total rows     : 2070115
Null count     : 11 (0.0%)
Unique values  : 68
Duplicate values: 2070047
Possible bool  : False
Top values:
  MD → 1871813
  DC → 67829
  VA → 62887
  PA → 10192
  FL → 7228
  NY → 6275
  NC → 4750
  WV → 4398
  CA → 3748
  NJ → 3288
  TX → 3101
  GA → 2820
  MA → 2009
  DE → 1789
  OH → 1726
  IL → 1314
  SC → 1242
  XX → 1130
  WA → 991
  CT → 963

============================================================
Column: DL State
Total rows     : 2070115
Null count     : 929 (0.04%)
Unique values  : 72
Duplicate values: 2070043
Possible bool  : False
Top values:
  MD → 1805484
  DC → 68832
  VA → 66868
  XX → 29631
  PA → 12061
  FL → 11442
  NY → 9199
  NC → 6765
  CA → 6600
  TX → 5307
  GA → 4562
  WV → 4548
  NJ → 4370
  MA → 3007
  OH → 2452
  DE → 2149
  IL → 2125
  SC → 1986
  WA → 1631
  MI → 1479

============================================================
Column: Arrest Type
Total rows     : 2070115
Null count     : 0 (0.0%)
Unique values  : 19
Duplicate values: 2070096
Possible bool  : False
Top values:
  A - Marked Patrol → 1657617
  Q - Marked Laser → 199233
  B - Unmarked Patrol → 97672
  L - Motorcycle → 20957
  G - Marked Moving Radar (Stationary) → 19824
  S - License Plate Recognition → 16408
  E - Marked Stationary Radar → 16126
  O - Foot Patrol → 14909
  R - Unmarked Laser → 11160
  M - Marked (Off-Duty) → 5521
  I - Marked Moving Radar (Moving) → 4300
  H - Unmarked Moving Radar (Stationary) → 2660
  F - Unmarked Stationary Radar → 1065
  J - Unmarked Moving Radar (Moving) → 1055
  C - Marked VASCAR → 543
  P - Mounted Patrol → 365
  N - Unmarked (Off-Duty) → 326
  D - Unmarked VASCAR → 317
  K - Aircraft Assist → 57

============================================================
Column: Geolocation
Total rows     : 2070115